
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
}

html{
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: #a7a7a7 #a7a7a78e;
	scrollbar-width: thin;
    scroll-padding-top: 5rem;
}

::-webkit-scrollbar {
    width: 10px;
    background: #a7a7a78e;
}
  
/* Styling the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #a7a7a7;
    border: 2px solid #a7a7a78e;
}

body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    position: relative;
    line-height: 1.5;
}

header{
    width:100%;
    color:black;
    display: flex;
    background-color:rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 5rem;
    top:0;
    z-index: 1100;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

#head-title{
    font-size: 2rem;
    margin: .7rem;
    font-weight: 400;
}

.nav-links ul{
    display: flex;
    margin: 0;
    padding:0;
}

.nav-links ul li{
    list-style: none;
    height: 5rem;
    line-height: 3rem;
    transition: all .2s linear;
}

.nav-links ul li a{
    text-decoration: none;
    color:black;
    padding: 1rem;
    display: block;
}

.nav-links ul li:hover, .nav-links ul li:focus{
    text-shadow: 0px 0px 10px hsl(0, 0%, 19%);
}

#menu-icon{
    display:none;
    color:black;
    margin-right: 1rem;
}

.material-symbols-outlined{
    font-size: 2rem !important; 
}

main{
    margin-top: 5rem;
}

.sidebar{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    z-index: 15;
    height: 100%;
    background-color: white;
    width: 12rem;
    border-right: 1px solid black;
}

.sidebar-open{
    transform: translateX(0%);
    transition: all .3s linear;
}

.sidebar-close{
    transform: translateX(-100%);
    transition: all .3s linear;
}

.sidebar ul{
    padding: 0;
    list-style: none;
    width: 100%;
    margin: 0;
}

.sidebar ul li{
    text-align: center;
    padding: 3rem 0;
    width: 100%;
    border-bottom: 1px solid black;
}

.sidebar ul li a{
    text-decoration: none;
    color: black;
}

#side-button{
    position: fixed;
    z-index: 10;
    cursor: pointer;
    top: 50%;
    height: 8rem;
    transition: all .3s linear;
    border: 1px solid black;
    border-left: none;
    width: 1.3rem;
    background-color: white;
    border-radius: 0 10px 10px 0;
}

#hidden-menu {
    position: fixed;
    top: 5rem;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: white;
    width: 100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

footer{
    width:100%;
    height: 4rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#return-to-top{
    position:fixed;
    bottom:4.2rem;
    right:1rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    display: none;
    border: none;
    background-color: hsla(0, 0%, 42%, 0.288);
    backdrop-filter: blur(10px);
}

.hidden{
    opacity:0;
    filter: blur(5px);
    transform: translatex(-100%);

}

.show{
    opacity:1;
    filter:blur(0px);
    transform: translateY(0);
    transition: all 1s;
}

.fa-chevron-right-closing{
    transform: rotate(180deg);
    transition: all .3s linear;
}

.ham-menu-closed {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.ham-menu-opened {
    transform: translateY(0);
    transition: transform 0.3s ease;
}

@media only screen and (max-width:768px){

    body{
        font-size: 18px;
    }

    #menu-icon{
        display:block;
    }

    #main-nav-links{
        display: none;
    }

    #menu-nav-links ul{
        flex-direction: column;
        text-align: center;
    }

    footer{
        font-size:1rem;
    }
}