main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: .5rem;
}


#form-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

#contact-icon{
    font-size: 15rem !important;
    margin-left: 1rem;
    color: rgb(2, 166, 221);
}

textarea{
    min-width: 80%;
    max-width: 80%;
    min-height: 5rem;
}

form{
    width: 20%;
    border-right: 2px solid black;
}

input{
    width: 80%;
    height: 2rem;
}

button{
    cursor: pointer;
    border: 1px solid gray;
    padding: 1rem;
    background-color: white;
    transition: all .3s linear;
}

input{
    margin-bottom: .5rem;
}

button:hover, button:focus{
    box-shadow: 3px 3px 10px #b8b7b7;
}

#form-div form span{
    font-size: 2rem;
}

@media only screen and (max-width:1000px) {
    #form-div{
        flex-direction: column;
    }
    form{
        width:60%;
        border: none;
    }

    form input{
        width: 90%;
    }
    textarea{
        min-width: 90%;
        max-width: 90%;
        min-height: 5rem;
    }
    #contact-icon{
        order: -1;
        margin: 0;
    }
}