main{
    padding: 1rem;
}

h3, h4, .exp p:nth-child(2){
    text-decoration: underline;
}

#portfolio{
    padding: 1rem;
    width: 80%;
    display: flex;
    margin: 0 auto;
    min-height: 100vh;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

#left-bar{
    min-width: 25%;
    padding: 1rem;
    background-color: rgb(138, 138, 138);
    display: flex;
    flex-direction: column;
}

#image{
    margin-bottom: 3rem;
}

#right-portion{
    flex: 1;
    padding: 1rem;
}

#image img{
    width: 10rem;
    height: auto;
    border: .5rem solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
    display: block;
    margin: 0 auto;
}

#contact ul li a{
    color: black;
}

#description{
    text-wrap: wrap;
}

#skills-table{
    overflow-x: auto;
}

#skills-table table{

    table-layout: fixed;
    border-collapse: collapse;
    font-size: 1rem;
}

#skills-table table tr:nth-child(even){
    background-color: #f2f2f2;
}

#skills-table table tr th{
    border-right: 1px solid black;
}

#skills-table table tr td{
    padding: 0 .5rem;
}

#experience .exp, .exp p{
    padding-left: 1rem;
}


@media only screen and (max-width:1400px){
    #portfolio{
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    #right-portion{
        order: -1;
    }

    #image{
        display: none;
    }

    #info{
        display: flex;
        font-size: 1rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #contact ul li{
        word-break: break-all;
    }
}

@media only screen and (max-width:700px){
    #info{
        justify-content:flex-start;
    }
}