main{
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mySlides {display: none}
img {vertical-align: middle;}


.slideshow-container {
    margin:2rem 0;
  max-width: 1000px;
  position: relative;
  border: 3px solid black;
  border-radius: 10px;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: black;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.719);
  
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active{
  background-color: black;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

#video-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

iframe{
    border: 3px solid black;
}

#gallery-section{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#imgs-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.imgs{
    margin: 1rem;
}

.imgs img{
    width: 400px;
    height: 250px;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px black;
}

audio{
    cursor: pointer;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media only screen and (max-width: 768px){
    iframe{
        max-width: 80%;
    }
}

